@model ChatApp.Models.ContactsAndMessages


@using (Html.BeginForm("Index2", "Messages", FormMethod.Post, htmlAttributes: new { @class = "selectContactForm" }))
{
    @Html.HiddenFor(model => model.SelectedContact.UserName)
}
@using (Html.BeginForm("Delete", "Messages", FormMethod.Post, htmlAttributes: new { @class = "delete_contact_form" }))
{
    @Html.Hidden("userId", "asd2", new { id = "contact_id" })
}
<script>
    @if (Model.ErrorMessage != null)
    {
        <text>alert('@Model.ErrorMessage');</text>
    }

</script>
<div class="container-fluid main_wrapper">
    <div class="col-xs-6 col-sm-4 contacts-wrapper">
        <div id="contacts" class="panel panel-default">
            <div class="panel-heading c-list">
                <span class="title">Contacts</span>
                <ul class="icons-list pull-right c-controls" style="position:absolute; right:15px;">
                    <li><a onclick="addContact()" data-toggle="tooltip" data-placement="top" title="Add Contact"><i class="icons glyphicon glyphicon-plus"></i></li>
                    <li><a href="#" class="hide-search" data-command="toggle-search" data-toggle="tooltip" data-placement="top" title="Toggle Search"><i class="icons fa fa-ellipsis-v"></i></a></li>
                </ul>
            </div>

            <div class="row" style="display: none;">
                <div class="col-xs-12">
                    <div class="input-group c-search">
                        <input type="text" class="form-control" id="contact-list-search">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search text-muted"></span></button>
                        </span>
                    </div>
                </div>
            </div>

            <ul class="list-group" id="contact-list">

                @{
                    if (Model.Contacts.Contacts != null)
                    {

                        foreach (var contact in Model.Contacts.Contacts)
                        {
                            <li class="list-group-item @contact.UserName @if (Model.HasUnreadMessages(contact.Id) == true) {<text>unread</text>}" onclick="changeReceiver(this);">
                                <div class="col-sm-4 col-lg-3">
                                    <img src="@contact.GetImageUrl()" alt="@contact.FirstName" class="img-responsive img-circle" />
                                </div>
                                <div class="col-sm-8 col-lg-9 contact-details-small">
                                    <span class="name">@contact.DisplayName</span><br />
                                    <span class="glyphicon glyphicon-user text-muted c-info" data-toggle="tooltip" title="@contact.FirstName @contact.LastName"></span>
                                    <span class="visible-xs"> <span class="text-muted">@contact.FirstName @contact.LastName</span><br /></span>
                                    <span class="glyphicon glyphicon-earphone text-muted c-info" data-toggle="tooltip" title="@contact.PhoneNumber"></span>
                                    <span class="visible-xs"> <span class="text-muted">@contact.PhoneNumber</span><br /></span>
                                    <span class="glyphicon glyphicon-envelope text-muted c-info" data-toggle="tooltip" title="@contact.Email"></span>
                                    <span class="visible-xs"> <span class="text-muted">@contact.Email</span><br /></span>
                                    <span onclick="removeContact('@contact.Id', event)" title="Remove Contact" class="remove-link"><i class="icons glyphicon glyphicon-remove"></i></span>

                                </div>
                                <div class="clearfix"></div>
                            </li>
                        }
                    }
                }
            </ul>
        </div>
    </div>
    @Html.Partial("MessagesBox", Model)
</div>


